.header {
  background-color: #f68f54;
  width: 100vw;
}
.header__container {
  background-color: rgb(245, 200, 78);
  margin: 1rem;
}
.header__topLink {
  padding: 0.5rem 3rem;
  border-bottom: 1px solid moccasin;
  display: flex;
  justify-content: space-around;
}
.header__topLink img {
  margin-right: 2rem;
}
.header__contactus {
  margin-left: 5rem;
  margin-right: auto;
  text-decoration: none;
  color: #000000;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 3rem;
}
.header__monthlySpecial {
  text-decoration: none;
  color: #000000;
}
.header__monthlySpecial img {
  vertical-align: middle;
  margin-right: 0.2rem;
}
.header__logo {
  padding: 0.5rem 3rem;
  width: 180px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__navbar {
  display: flex;
  justify-content: flex-start;
  padding-left: 0.5rem;
  background-color: #000000;
}
.header__navbar--title {
  display: flex;
  color: #bc4702;
  margin: 0.5rem 1rem;
}
.header__navbar--title h3 {
  margin-right: 10px;
}
.header__navbar--item {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}
.header__navbar--item:first-child {
  margin-left: 5rem;
}
.header__navbar--item:hover {
  background-color: red;
}
.header__navbar--level1, .header__navbar--level2 {
  top: 13rem;
  min-height: auto;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(245, 200, 78);
  font-weight: bold;
  overflow: hidden;
  justify-content: center;
}
.header__navbar--item2, .header__navbar--item3 {
  margin: 1rem;
  padding: 1rem;
  color: darkred;
  text-decoration: none;
}
.header__navbar--item2:hover, .header__navbar--item3:hover {
  background-color: #f68f54;
  border-radius: 50px;
}

.hide {
  display: none;
}

.product-list {
  min-height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(245, 200, 78);
  font-weight: bold;
  overflow: hidden;
  justify-content: center;
}

.product {
  border: 1px solid darkred;
  width: 250px;
  height: auto;
}
.product__noimg {
  width: 250px;
  height: 234px;
  font-size: 1em;
  text-wrap: wrap;
  color: #f68f54;
}
.product__img {
  width: 250px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__pn {
  font-size: 0.8em;
}

.details {
  margin: 1rem;
  width: 75vw;
  min-height: auto;
  border: 5px solid darkred;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
  overflow: hidden;
}
.details__detail {
  display: flex;
  flex-direction: column;
  margin: 5rem 1.5rem;
  text-align: left;
  font-size: 18px;
}
.details__img {
  width: 400px;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 3rem;
  border: 5px solid #f68f54;
}
.details__label {
  font-weight: bold;
}
.details__noimg {
  margin-top: 3rem;
  font-size: 2em;
  text-wrap: wrap;
  color: #f68f54;
  width: 10rem;
}

.slideshow {
  margin: 1.5rem 0;
  width: 85vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.search {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 1rem;
  justify-content: flex-end;
}
.search__input {
  height: 30px;
  width: 30vw;
  background-color: lemonchiffon;
}
.search__button {
  background-color: moccasin;
}
.search__img {
  position: absolute;
  margin: 0.5rem;
}/*# sourceMappingURL=header.css.map */