.header {
  background-color: #f68f54;
  width: 100vw;
  &__container {
    background-color: rgb(245, 200, 78);
    margin: 1rem;
  }
  &__topLink {
    padding: 0.5rem 3rem;
    border-bottom: 1px solid moccasin;
    display: flex;
    justify-content: space-around;

    & img {
      margin-right: 2rem;
    }
  }

  &__contactus {
    margin-left: 5rem;
    margin-right: auto;
    text-decoration: none;
    color: #000000;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 3rem;
  }

  &__monthlySpecial {
    text-decoration: none;
    color: #000000;

    & img {
      vertical-align: middle;
      margin-right: 0.2rem;
    }
  }

  &__logo {
    padding: 0.5rem 3rem;
    width: 180px;
    height: 60px;
    object-fit: cover;
  }

  &__navbar {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5rem;
    background-color: #000000;
    &--title {
      display: flex;
      color: #bc4702;
      margin: 0.5rem 1rem;
      & h3 {
        margin-right: 10px;
      }
    }
    &--item {
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;
      padding: 1rem;

      &:first-child {
        margin-left: 5rem;
      }
      // text-shadow: rgb(240, 140, 78) 2px 2px;

      &:hover {
        background-color: red;
      }
    }

    &--level1,
    &--level2 {
      top: 13rem;
      min-height: auto;
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      background-color: rgb(245, 200, 78);
      font-weight: bold;
      overflow: hidden;
      justify-content: center;
    }

    &--item2,
    &--item3 {
      margin: 1rem;
      padding: 1rem;
      color: darkred;
      text-decoration: none;
      &:hover {
        background-color: #f68f54;
        border-radius: 50px;
      }
    }
  }
}

.hide {
  display: none;
}
.product-list {
  min-height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(245, 200, 78);
  font-weight: bold;
  overflow: hidden;
  justify-content: center;
}
.product {
  border: 1px solid darkred;
  width: 250px;
  height: auto;
  &__noimg {
    width: 250px;
    height: 234px;
    font-size: 1em;
    text-wrap: wrap;
    color: #f68f54;
  }
  &__img {
    width: 250px;
    height: 250px;
    object-fit: contain;
  }
  &__pn {
    font-size: 0.8em;
  }
}

.details {
  // top: 15.9rem;
  margin: 1rem;
  width: 75vw;
  min-height: auto;
  border: 5px solid darkred;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
  overflow: hidden;

  &__detail {
    display: flex;
    flex-direction: column;
    margin: 5rem 1.5rem;
    text-align: left;
    font-size: 18px;
  }

  &__img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin: 3rem;
    border: 5px solid #f68f54;
  }

  &__label {
    font-weight: bold;
  }
  &__noimg {
    margin-top: 3rem;
    font-size: 2em;
    text-wrap: wrap;
    color: #f68f54;
    width: 10rem;
  }
}
.slideshow {
  margin: 1.5rem 0;
  width: 85vw;
  object-fit: contain;
}

.search {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 1rem;
  justify-content: flex-end;

  &__input {
    height: 30px;
    width: 30vw;
    background-color: lemonchiffon;
  }

  &__button {
    background-color: moccasin;
  }

  &__img {
    position: absolute;
    margin: 0.5rem;
  }
}
